[mysqld_safe]
socket = /var/run/mysqld/mysqld.sock
nice   = 0

[mysqld]
user                           = mysql
pid_file                       = /var/run/mysqld/mysqld.pid
socket                         = /var/run/mysqld/mysqld.sock
port                           = 3306
basedir                        = /usr
datadir                        = /var/lib/mysql
plugin_dir                     = /usr/lib/mysql/plugin
tmpdir                         = /tmp
lc_messages_dir                = /usr/share/mysql
bind_address                   = 0.0.0.0
general_log                    = ON

key_buffer_size                = 4M
max_allowed_packet             = 4M
thread_stack                   = 128K
thread_cache_size              = 4M
max_connections                = 30

query_cache_limit              = 1M
query_cache_size               = 16M

log_error                      = /var/log/mysql/error.log
log_output                     = TABLE

innodb_flush_log_at_trx_commit = 1

skip_external_locking
skip_name_resolve
